<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Siswa</title>


    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
            width: max-content;
        }

        th, td{
            padding: 5px;
        }
    </style>

</head>
<body>
    <div class="w-75 p-3">
        <h1>Halo {{ Siswa.nama }} dari kelas {{namaKelas}} </h1>
        
    
        <h4>Info Siswa</h4>
    
        <table>
            <tr>
                <th>NIK</th>
                <th>Nama</th>
                <th>NIS</th>
                <th>Gender</th>
                <th>Tempat Lahir</th>
                <th>Tanggal Lahir</th>
                <th>Alamat</th>
                <th>No Telepon</th>
                <th>Agama</th>
                <th>Tahun Masuk</th>
                <th>Wali</th>
                <th>Alamat Wali</th>
                <th>No Telepon Wali</th>
                <th>Ayah</th>
                <th>Ibu</th>            
            </tr>
            <tr>
                <td> {{Siswa.nik}} </td>
                <td> {{Siswa.nama}} </td>
                <td> {{Siswa.nis}} </td>
                {% if Siswa.gender %}
                <td>Laki-laki</td>
                {% else %}
                <td>Perempuan</td>
                {% endif %}
                <td> {{Siswa.tempat_lahir}} </td>
                <td> {{Siswa.tanggal_lahir}} </td>
                <td> {{Siswa.alamat}} </td>
                <td> {{Siswa.no_telepon}} </td>
                <td> {{Siswa.agama}} </td>
                <td> {{Siswa.tahun_masuk}} </td>
                <td> {{Siswa.wali}} </td>
                <td> {{Siswa.alamat_wali}} </td>
                <td> {{Siswa.no_telepon_wali}} </td>
                <td> {{Siswa.ayah}} </td>
                <td> {{Siswa.ibu}} </td>
            </tr>
        </table>
    
        <br>
        <a class="btn btn-primary" href="/tugasKhusus/login" role="button">Log Out</a>

    </div>
</body>
</html>