<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masukkan Komponen Penilaian</title>

    {% extends "pageTemplate.html" %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block sideBar %}{% endblock  %}

    {% block content %}
    
    <h1>Kelas : {{namaKelas}}</h1>
    <h1>{{kodeMapel}}</h1>
    <hr>
    
    
    <form action="" method="POST">

        {% csrf_token %}

        <table class="table table-bordered border-primary">
            <tr>
                <th>Nama</th>
                <th>Nilai</th>
            </tr>
            
            {% for siswa in daftarSiswa %}
                
                <tr>
                    <td> {{ siswa.siswa.nama }} </td>
                    <td> <input type="number" name="nilai_{{siswa.siswa.nik}}" id="" 
                        {% for x in nilaiSiswa %}
                            {% if x.siswa == siswa.siswa %}
                                value = {{x.nilai}}
                            {% endif %}
                        {% endfor %}> </td>
                </tr>

                {% endfor %}

        </table>

        <br>
        <input type="submit" value="Submit">
            
    </form>


    {% endblock %}

</body>
</html>