<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <div class="d-flex align-items-center justify-content-center">

        

        <table>
            <tr>
                <th>
                    <h1>Silahkan Login</h1>
                </th>
            </tr>
            {% if isUserNotExist %}
                <tr>
                    <td>
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            User Tidak Ditemukan
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                    </td>
                </tr>
            {% endif %}

            {% if isPasswordWrong %}
                <tr>
                    <td>
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            Password Salah!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        {{ userForm.as_p }}

                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </td>
            </tr>
        </table>
        
            
            
    </div>
</body>
</html>