<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <div class="w-75 p-3"><h1>Silahkan Login</h1>

        <form action="InfoSiswa" method="post">
            {% csrf_token %}
    
            <label for="NIK">Masukkan NIK</label><br>
            <input type="text" id="NIK" name='nik' >
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>