<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    
    <title>{% block header%} {% endblock%}</title>

    

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
  <div class="w-75 p-3">
    <nav class="navbar navbar-expand-lg bg-body">
        <div class="container-fluid">
          <a class="navbar-brand" href="/tugasKhusus/InfoUser">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {% if userType == "Siswa" %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="NilaiSiswa">Nilai Siswa</a>
              </li>
              {% elif userType == "Guru" %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tugasKhusus/Presensi">Presensi</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tugasKhusus/InsertFeedback">Feedback</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tugasKhusus/LogOut" role="button">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %}
      
      {% endblock  %}
    </div>
</body>
</html>