<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penilaian</title>

    {% extends "pageTemplate.html" %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block sideBar %}{% endblock  %}

    {% block content %}
    
    <h1>Mapel</h1>
    <hr>

    <table class="table table-bordered border-primary">
        <tr>
            <th>Mata Pelajaran</th>
            <th>Action</th>
        </tr>

        {% for kelas in mapping %}
        <tr>
            <td> {{kelas.mata_pelajaran.nama}} </td>
            <td><a href="Penilaian/{{kelas.mata_pelajaran.kode}} {{nikGuru}} "><button>Buka</button></a></td>
        </tr>
        
        {% endfor %}

    </table>

    {% endblock %}

</body>
</html>