<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilai Siswa</title>

    {% extends "pageTemplate.html" %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block sideBar %}{% endblock  %}

    {% block content %}
    
    <h1>Nilai Siswa</h1>
    <p>NIK: {{ siswa.nik }}</p>
    
    <table class="table table-bordered border-primary">
        <tr>
            <td>Mata Pelajaran</td>
            <td>Presensi</td>
        </tr>
        {% for x, y in presensi.items %}
        <tr>
            <td> {{x}} </td>
            <td> {{y}} </td>
        </tr>
        {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
        </tr>

        {% endfor %}
    </table>

    {% endblock %}

</body>
</html>